.add-btn-container{
    margin:10px 0px 10px 0px;
}

.row-btn-containers{
    position:absolute;
    height:100%;
    right:0px;
    top:0px;
    display:none;
    align-items: center;
    justify-content: center;
}

tr{
    cursor: pointer;
}

tr:hover > td > .row-btn-containers {
    display:flex;
}

.row-btn-containers .btn{
    margin-right:10px;
    display:hidden;
    height:35px;
}